{% if settings.show_current_month_orders_chart %}
  <div class="col-sm-12 col-md-6">
    <div class="d-flex justify-content-center align-items-center card p-3">
      <div class="spinner-border text-primary" role="status"></div>
      <canvas id="currentMonthOrders"></canvas>
    </div>
  </div>
{% endif %}

{% if settings.show_last_12_months_orders_chart %}
  <div class="col-sm-12 col-md-6">
    <div class="d-flex justify-content-center align-items-center card p-3">
      <div class="spinner-border text-primary" role="status"></div>
      <canvas id="last12MonthsOrders"></canvas>
    </div>
  </div>
{% endif %}

{% if settings.show_countries_orders_chart %}
  <div class="col-sm-6 col-md-4">
    <div class="d-flex justify-content-center align-items-center card p-3">
      <div class="spinner-border text-primary" role="status"></div>
      <canvas id="OrdersCountries"></canvas>
    </div>
  </div>
{% endif %}

{% if settings.show_categories_products_chart %}
  <div class="col-sm- col-md-4">
    <div class="d-flex justify-content-center align-items-center card p-3">
      <div class="spinner-border text-primary" role="status"></div>
      <canvas id="CategoriesProducts"></canvas>
    </div>
  </div>
{% endif %}

{% if settings.show_best_sells_products_chart %}
  <div class="col-sm-12 col-md-4">
    <div class="d-flex justify-content-center align-items-center card p-3">
      <div class="spinner-border text-primary" role="status"></div>
      <canvas id="OrdersProducts"></canvas>
    </div>
  </div>
{% endif %}