{% load i18n %}
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="{% url 'core:index' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline text-uppercase">
        {{ settings.shop_name }}
      </span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 mt-2 align-items-center align-items-sm-start w-100" id="menu">
      <li class="nav-item">
        {% url 'core:index' as home_url %}
        <a href="{{ home_url }}" class="nav-link align-middle text-white px-0 {% if home_url == request.path %}active{% endif %}">
          <i class="fs-4 bi-speedometer2"></i>
          <span class="ms-3 d-none d-sm-inline">
            {% trans 'Home' %}
          </span>
        </a>
      </li>
      <li>
        {% url 'orders:orders_list' as orders_url %}
        <a href="{{ orders_url }}" class="nav-link align-middle text-white px-0 {% if orders_url in request.path %}active{% endif %}">
          <i class="fs-4 bi-handbag"></i>
          <span class="ms-3 d-none d-sm-inline active">
            {% trans 'Zamówienia' %}
          </span>
        </a>
      </li>
      <li>
        {% url 'categories:categories_list' as categories_url %}
        <a href="{{ categories_url }}" class="nav-link align-middle text-white px-0 {% if categories_url in request.path %}active{% endif %}">
          <i class="fs-4 bi-inboxes"></i>
          <span class="ms-3 d-none d-sm-inline">
            {% trans 'Kategorie produktów' %}
          </span>
        </a>
      </li>
      <li>
        {% url 'products:products_list' as products_url %}
        <a href="{{ products_url }}" class="nav-link align-middle text-white px-0 {% if products_url in request.path %}active{% endif %}">
          <i class="fs-4 bi-grid"></i>
          <span class="ms-3 d-none d-sm-inline">
            {% trans 'Produkty' %}
          </span>
        </a>
      </li>
      <li>
        {% url 'accounts:users_list' as users_url %}
        <a href="{{ users_url }}" class="nav-link align-middle text-white px-0  {% if users_url in request.path %}active{% endif %}">
          <i class="fs-4 bi-people"></i>
          <span class="ms-3 d-none d-sm-inline">
            {% trans 'Użytkownicy' %}
          </span>
        </a>
      </li>
      <li>
        {% url 'core:settings' settings.pk as settings_url %}
        <a href="{{ settings_url }}" class="nav-link align-middle text-white px-0  {% if settings_url in request.path %}active{% endif %}">
          <i class="fs-4 bi-gear"></i>
          <span class="ms-3 d-none d-sm-inline">
            {% trans 'Ustawienia' %}
          </span>
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>