asgiref==3.8.1
Django==5.0.3
flake8==7.0.0
flake8-blind-except==0.2.1
flake8-docstrings==1.7.0
flake8-isort==6.1.1
flake8-pep3101==2.1.0
flake8-quotes==3.4.0
flake8-string-format==0.3.0
isort==5.13.2
mccabe==0.7.0
pycodestyle==2.11.1
pydocstyle==6.3.0
pyflakes==3.2.0
python-slugify==8.0.4
setuptools==69.2.0
snowballstemmer==2.2.0
sqlparse==0.4.4
text-unidecode==1.3
