{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <h3>{% trans 'Edytuj produkt' %} {{ object }}</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% include 'products/_partials/product_variants_formset.html' %}
    <button type="submit" class="btn btn-primary">
      <i class="bi-check"></i>
      {% trans 'Zapisz' %}
    </button>
  </form>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'js/formset.js' %}"></script>
{% endblock extra_js %}