{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h3>{% trans 'Kategorie produktów' %}</h3>
  <a href="{% url 'categories:categories_create' %}" class="btn btn btn-primary mb-3 mt-2">
    <i class="bi-plus"></i>
    {% trans 'Nowa kategoria' %}
  </a>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="text-uppercase">
      <tr>
        <th class="fw-bold">#</th>
        <th>{% trans 'Nazwa' %}</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="align-middle">
      {% include 'categories/_partials/categories_list_partial.html' %}
      </tbody>
    </table>
  </div>
  {% include '_partials/pagination.html' %}
{% endblock content %}