{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
      <!-- metas -->
      <meta charset="utf-8">
      <meta name="author" content="Webtechnika">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <!-- title -->
      <title>{% block title %} {% endblock %}</title>
      <!-- Favicon -->
{#      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">#}
      <!-- theme css -->
      <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

      {% block extra_css %} {% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

  {% block content %} {% endblock %}

  {% block extra_js %} {% endblock %}
  </body>
</html>