{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div class="row g-3 overflow-hidden">
    {% include '_partials/stats.html' %}
    {% include '_partials/charts.html' %}
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
      $(() => {
          showChart('{% url 'charts:current_month_orders_chart' %}', 'currentMonthOrders')
          showChart('{% url 'charts:last_12_month_orders_chart' %}', 'last12MonthsOrders')
          showChart('{% url 'charts:countries_orders_chart' %}', 'OrdersCountries')
          showChart('{% url 'charts:categories_products_chart' %}', 'CategoriesProducts')
          showChart('{% url 'charts:top_sells_products_chart' %}', 'OrdersProducts')
      })
  </script>
{% endblock extra_js %}

