$black: #000;
$black-transparent: #00000090;
$white: #fff;
$white-transparent: #ffffff90;
$grey: #e7e5e3;
$yellow: #f3c913;
$yellow-transparent: #f3c91390;
$dark-blue: #051f39;
$blue: #194F85;
$pink: #eb4576;
