{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <h3>{% trans 'Utwórz nowe zamówienie' %}</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h4 class="mt-5">{% trans 'Rekomendowane produkty dla użytkownika według innych użytkowników' %}</h4>
    <div class="spinner-border text-primary" role="status" style="display: none"></div>
    <div id="usersRecommendedProducts">
      <span class="text-secondary">
        {% trans 'Wybierz użytkownika aby wyświetlić rekomendowane dla niego produkty' %}
      </span>
    </div>
    <h4 class="mt-5">{% trans 'Rekomendowane produkty dla użytkownika według zakupionych wcześniej produktów' %}</h4>
    <div class="spinner-border text-primary" role="status" style="display: none"></div>
    <div id="productsRecommendedProducts">
      <span class="text-secondary">
        {% trans 'Wybierz użytkownika aby wyświetlić rekomendowane dla niego produkty' %}
      </span>
    </div>
    <h4 class="mt-5">{% trans 'Elementy zamowienia' %}</h4>
    {% include 'orders/_partials/order_items_formset.html' %}
    <button type="submit" class="btn btn-primary">
      <i class="bi-check"></i>
      {% trans 'Zapisz' %}
    </button>
  </form>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'js/formset.js' %}"></script>
  <script>
      const showRecommendedProducts = (userSelect) => {
          $('.spinner-border').toggle();
          $('#usersRecommendedProducts').html('');
          $('#productsRecommendedProducts').html('');
          const $select = $(userSelect)
          $.ajax({
              url: '{% url 'recommendations:get_recommended_products' %}',
              method: 'GET',
              data: {
                  'user_id': $select.val()
              },
              success: (response) => {
                  $('#usersRecommendedProducts').html(response.users_recommended_html);
                  $('#productsRecommendedProducts').html(response.products_recommended_html);
                  $('.spinner-border').toggle();
              },
              error: (response) => {
                  $('#usersRecommendedProducts').html('');
                  $('#productsRecommendedProducts').html('');
                  $('.spinner-border').toggle();
              }
          });
      }
  </script>
{% endblock extra_js %}